@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300,400,500,700;800;900&display=swap&subset=cyrillic");
html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

html, body {
  height: 100%;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.maincontent {
  height: 100%;
  transition: transform 1s;
  will-change: transform;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  display: block;
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  white-space: nowrap;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  background: url("../img/bg/bg.png") center center no-repeat, rgba(25, 104, 177, 0.9);
  background-size: cover;
  height: 100vh;
  min-height: 36.1111111111rem;
  color: #fff;
  position: relative;
}
@media screen and (max-width: 768px) {
  .hero {
    background-position: center center 88%;
  }
}
@media screen and (max-width: 768px) {
  .hero::before, .hero::after {
    display: none;
  }
}
.hero__icons-section {
  margin-bottom: 3.3888888889rem;
}
.hero__title-section {
  width: 46%;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .hero__icons-section {
    display: none;
  }
}
.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.hero__main-title {
  font-size: 2.6666666667rem;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 1.5555555556rem;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .hero__main-title {
    font-size: 2.2222222222rem;
  }
}
.hero__title-desc {
  font-size: 1.1666666667rem;
  margin-bottom: 2.1666666667rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.5555555556rem;
}
.header__phone-number {
  font-size: 1.2222222222rem;
  font-weight: 700;
  line-height: 1rem;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .phone-number.header__phone-number {
    display: none;
  }
}

.menu {
  margin: 0 20px;
  padding-top: 5px;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.menu__item {
  margin-right: 1.2222222222rem;
  margin-bottom: 10px;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 0.8888888889rem;
}

.phone-number {
  font-style: normal;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.phone-number__icon {
  flex-shrink: 0;
}
.phone-number__icon-elem {
  fill: #000;
  width: 0.7222222222rem;
  height: 0.8333333333rem;
  margin-right: 0.3888888889rem;
}
.phone-number__icon-elem--white {
  fill: #fff;
}
.phone-number__text {
  font-size: 1.1666666667rem;
  font-weight: 400;
  color: #292929;
}
.phone-number__text--white {
  color: #fff;
}

.hamburger {
  width: 26px;
  height: 24px;
  flex-direction: column;
  justify-content: space-between;
  display: none;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: inline-flex;
  }
}
.hamburger__plank {
  display: block;
  background: #fff;
  height: 4.44px;
  border-radius: 14px;
}

.features {
  display: flex;
}
.features__item {
  margin-right: 1.6666666667rem;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: flex;
}
.feature__icon {
  width: 2.5rem;
  margin-right: 0.6111111111rem;
  fill: #fff;
}
.feature__text {
  font-size: 0.8888888889rem;
  max-width: 5rem;
}

.btn {
  font-size: 0.8888888889rem;
  font-weight: 800;
  text-transform: uppercase;
  padding: 1.1666666667rem 2.2777777778rem;
  border-radius: 5.5555555556rem;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  border: none;
  cursor: pointer;
}
.btn--theme--transparent {
  background: transparent;
  color: #fff;
  text-transform: none;
  margin-top: 1.1111111111rem;
}
.btn--theme--yellow {
  background: #fedb3f;
  color: #000;
}

.section {
  height: 100%;
  min-height: 36.1111111111rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section--font-color--white {
  color: #fff;
}
.section--font-color--white .section__title {
  color: inherit;
}
.section__title {
  font-size: 2.6666666667rem;
  font-weight: 700;
  color: #292929;
  text-transform: uppercase;
  margin-bottom: 1.7222222222rem;
  text-align: center;
  line-height: 1.1;
}

.headline {
  text-align: center;
}
.headline__title {
  margin-bottom: 0.9444444444rem;
}
.headline__subtitle {
  font-weight: 400;
  padding: 0 16%;
  line-height: 1.2222222222rem;
  margin-bottom: 2.7222222222rem;
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    padding: 0 5%;
  }
}

.benefits {
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits {
    flex-direction: column;
  }
}
.benefits__item {
  flex: 1;
  padding: 0 3%;
  position: relative;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    padding: 0;
    margin-bottom: 1.0555555556rem;
  }
}
.benefits__item:before {
  content: url("../../img/decor/shape.png");
  position: absolute;
  top: 1.6666666667rem;
  right: 0;
  transform: translateX(50%);
}
@media screen and (max-width: 768px) {
  .benefits__item:before {
    display: none;
  }
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child::before {
  display: none;
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: flex;
    text-align: left;
  }
}
.benefit__image {
  margin-bottom: 1.0555555556rem;
}
@media screen and (max-width: 480px) {
  .benefit__image {
    margin-bottom: 0;
    margin-right: 1.1111111111rem;
  }
}
.benefit__image-wrapper {
  display: inline-block;
  width: 7.1111111111rem;
  height: 7.1111111111rem;
  position: relative;
  background: #f2f5f4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1.1111111111rem;
}
.benefit__icon {
  fill: #000;
  width: 3.7777777778rem;
  height: 3.7777777778rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.benefit__title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1.0555555556rem;
  color: #292929;
}
.benefit__desc {
  font-weight: 300;
}

.products__wrapper-list {
  overflow: hidden;
  position: relative;
}
.products__slide-arrows {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.products__slide-arrow {
  width: 24px;
  height: 40px;
  border: 0;
  background-color: transparent;
}
.products__slide-arrow--left {
  background-image: url("./../../img/decor/left.png");
}
.products__slide-arrow--right {
  background-image: url("./../../img/decor/right.png");
}
.products__list {
  display: flex;
}
.products__item {
  display: flex;
  column-gap: 56px;
  align-items: flex-end;
  width: 100%;
  flex-shrink: 0;
}
.products__preview {
  width: 100%;
  max-width: 419px;
}
.products__info {
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  position: relative;
  padding-bottom: 90px;
}
.products__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  color: #292929;
  text-transform: uppercase;
}
.products__desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.products__param {
  display: flex;
  align-items: flex-start;
  column-gap: 44px;
}
.products__param-item {
  display: flex;
  flex-direction: column;
}
.products__param-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #666;
}
.products__param-count {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #000;
}
.products__footer {
  display: flex;
  align-items: center;
  column-gap: 28px;
}
.products__price {
  font-weight: 300;
  font-size: 60px;
  line-height: 60px;
  color: #151515;
}
.products__drop-icon {
  width: 91px;
  height: 91px;
  background-color: #3A587E;
  position: relative;
  display: flex;
  flex-direction: column;
}
.products__icon {
  fill: #fff;
  margin-top: 17px;
  margin-left: 27px;
}
.products__text {
  font-size: 0.6666666667rem;
  font-weight: 700;
  line-height: 0.9444444444rem;
  max-width: 4.3888888889rem;
  margin: 0 auto;
  margin-bottom: 12px;
  text-transform: uppercase;
  color: #fff;
}
.products__drop-menu {
  display: none;
  max-width: 364px;
  width: 100%;
  height: 291px;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  left: 100%;
}
.products__drop-menu:hover {
  display: block;
}

.team {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.team__wrapper {
  max-height: 100vh;
}
.team--version--mobile {
  display: none;
}
.team__item {
  flex: 1;
  position: relative;
  margin-right: 1.1111111111rem;
  max-width: 220px;
  text-align: center;
  height: 454px;
}
.team__member {
  height: 16rem;
}
.team__photo {
  width: 100%;
  max-width: 220px;
  margin-right: 1.1111111111rem;
}
@media screen and (max-width: 768px) {
  .team__photo {
    margin-bottom: 15px;
  }
}
.team__title {
  font-size: 1.1111111111rem;
  font-weight: 700;
  line-height: 1.4444444444rem;
  padding: 0;
  color: #292929;
  margin-top: 1.1666666667rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #fff;
}
.team__title::after {
  content: url("./../../img/decor/poligon.png");
  margin-left: 4px;
  margin-bottom: 6px;
  height: 26px;
}
.team__content {
  overflow: hidden;
  transition: hight 0.3s;
  height: 0;
}
.team__content--active {
  height: 118px;
}
.team__content-block {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 118px;
}
.team__occ {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2222222222rem;
  color: #292929;
  margin-top: 0.4444444444rem;
}
.team__desc {
  font-size: 0.9444444444rem;
  font-weight: 300;
  line-height: 1.2222222222rem;
  color: #666666;
  margin-top: 0.2222222222rem;
}

.products-menu-section {
  background: url("../../img/bg/slider.png") center center, rgba(25, 104, 177, 0.8);
  background-size: cover;
  position: relative;
  color: #fff;
  height: 100vh;
}
.products-menu-section__title {
  color: #fff;
  position: absolute;
  top: 6.0555555556rem;
  left: 4.6666666667rem;
}

.products-menu {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
}
.products-menu__item {
  display: flex;
}
.products-menu__image {
  height: 100vh;
}
.products-menu__title {
  text-decoration: none;
  position: relative;
  width: 102px;
}
.products-menu__container {
  padding: 31px 80px 45px 38px;
}
.products-menu__content {
  background: rgba(51, 53, 55, 0.9);
  width: 0;
  position: relative;
  overflow: hidden;
  transition: width 0.7s;
}
.products-menu__text {
  font-size: 2.6666666667rem;
  font-weight: 700;
  line-height: 3.2222222222rem;
  transform: rotate(270deg);
  padding-left: 120px;
  padding-bottom: 22px;
}
.products-menu__content-text {
  font-size: 0.8888888889rem;
  font-weight: 400;
  line-height: 1.3333333333rem;
}

.reviews__display {
  background: #f8fAf9;
  padding: 2.3333333333rem 2.3333333333rem;
  margin-bottom: 0.8333333333rem;
  width: 52.2222222222rem;
  height: 19.3333333333rem;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 768px) {
  .reviews__display {
    width: 40.2222222222rem;
    padding: 3.1111111111rem 1.3333333333rem 2.5555555556rem;
  }
}
.reviews__list {
  position: relative;
  min-height: 19.3333333333rem;
}
.reviews__display-inner {
  display: flex;
  width: 100%;
  height: 19.3333333333rem;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}
.reviews__item {
  width: 52.2222222222rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.3s;
  opacity: 0;
}
.reviews__item--active {
  position: static;
  opacity: 1;
}
.reviews__avatar {
  width: 14.0555555556rem;
  height: 14.6666666667rem;
  margin-right: 2.2222222222rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 7.2222222222rem;
    height: 7.2222222222rem;
    margin-right: 0;
    margin-bottom: 1.7777777778rem;
  }
}
.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.reviews__content {
  flex: 1;
  height: 14.6666666667rem;
}
.reviews__title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #292929;
  margin-bottom: 0.7777777778rem;
}
.reviews__text {
  font-weight: 400;
  margin-bottom: 1.3888888889rem;
  width: 25.7222222222rem;
}
.reviews__author {
  font-weight: 500;
  color: #292929;
}
.reviews__switcher {
  display: flex;
  justify-content: center;
}

.reviews-switcher {
  display: flex;
  justify-content: center;
}
.reviews-switcher__item {
  width: 4.1111111111rem;
  height: 4.1111111111rem;
  border: 0.3333333333rem solid transparent;
  margin-right: 0.3333333333rem;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.reviews-switcher__item--active {
  border-color: #fedb3f;
}
.reviews-switcher__item:last-child {
  margin-right: 0;
}
.reviews-switcher__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
}
.reviews-switcher__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.player-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.player-section__container {
  width: 36.7777777778rem;
  height: 21.7777777778rem;
  margin: 0 auto;
  margin-bottom: 6.1111111111rem;
}

.player {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
}
.player__splash {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("./../../img/bg/bg_player.png") center center no-repeat;
  background-size: cover;
  cursor: pointer;
}
.player.active .player__splash {
  display: none;
}
.player.paused .player__start:after, .player.paused .player__start:before {
  content: "";
  display: block;
  position: absolute;
  width: 7px;
  top: 0;
  bottom: 0;
  background: #626262;
}
.player.paused .player__start:after {
  right: 0;
}
.player.paused .player__start:before {
  left: 0;
}
.player__controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 36.7777777778rem;
  height: 35px;
  background: #404040;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
}
.player__start {
  width: 11px;
  height: 16px;
  border: none;
  background: url("./../../img/decor/start.svg") center center no-repeat;
  background-size: cover;
  color: #fff;
  cursor: pointer;
}
.player__playback {
  width: 446px;
  height: 7px;
  background-color: #626262;
}
.player__playback-button {
  background: #FEDB3F;
  border-radius: 50px;
  border: none;
  width: 15px;
  height: 15px;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 1;
}

.form {
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    padding: 0 14%;
    flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}
.form__col {
  flex: 1;
  margin-right: 1.4444444444rem;
}
.form__col:last-child {
  margin-right: 0;
}
.form__row {
  display: flex;
  margin-bottom: 0.7777777778rem;
}
.form__block {
  flex: 1;
  margin-right: 0.8888888889rem;
}
.form__block:last-child {
  margin-right: 0;
}
.form__input {
  width: 100%;
  padding: 1rem 0.6666666667rem 1.1111111111rem;
  border: 0.1666666667rem solid transparent;
  border-radius: 0.1666666667rem;
}
.form__input--textarea {
  height: 10rem;
  width: 25.8888888889rem;
  resize: none;
}
.form__input--active {
  border-color: #fedb3f;
}
.form__input:focus {
  border-color: #fedb3f;
  outline: none;
}
.form__controls {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 480px) {
  .form__controls {
    justify-content: center;
  }
}
.form__btns {
  display: flex;
  justify-content: center;
}

.error .form__input {
  border: 1px solid #ff0000;
}

.error {
  color: #ff0000;
}

.order-section {
  background: url("../../img/bg/bg_form.png") center center, rgba(0, 0, 0, 0.8);
  background-size: cover;
  color: #fff;
  text-shadow: 0.0555555556rem 0.0555555556rem 0.0555555556rem black;
  height: 100vh;
  min-height: 36.1111111111rem;
}
@media screen and (max-width: 768px) {
  .order-section {
    height: 53.6666666667rem;
  }
}

.radio {
  display: flex;
  cursor: pointer;
  user-select: none;
  align-items: center;
  margin-right: 1.2222222222rem;
}
@media screen and (max-width: 480px) {
  .radio {
    margin-bottom: 0.5555555556rem;
  }
}
.radio--checkbox .radio__visible {
  border-radius: 0;
}
.radio--checkbox .radio__visible:before {
  background: url("./../../img/decor/checkmark.png") center no-repeat;
}
.radio__elem {
  display: none;
  margin-right: 0.5555555556rem;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}
.radio__visible {
  width: 1.5555555556rem;
  height: 1.5555555556rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: 0.5555555556rem;
  margin-bottom: 0.8888888889rem;
}
.radio__visible:before {
  content: "";
  width: 0.7777777778rem;
  height: 0.7777777778rem;
  background: #fedb3f;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.radio__title {
  margin-right: 0.4444444444rem;
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100;
}
.fixed-menu--shadowed {
  color: #000;
}
.fixed-menu__item {
  margin-bottom: 0.3888888889rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #fff;
}
.fixed-menu__link {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.0555555556rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:before {
  content: "";
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.map-section__img {
  height: 100vh;
  min-height: 36.1111111111rem;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.2777777778rem 0;
  background: #fff;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .footer__container {
    flex-direction: column;
  }
}

.contacts__place {
  font-size: 1.1666666667rem;
  font-weight: 400;
  color: #292929;
  text-decoration: none;
  font-style: normal;
  line-height: 1.3333333333rem;
}
@media screen and (max-width: 480px) {
  .contacts {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}
.socials__link {
  text-decoration: none;
  display: block;
}
.socials__icon {
  fill: #b3b3b3;
  height: 1.1111111111rem;
  width: 1.1111111111rem;
  margin-right: 0.7777777778rem;
}
.socials__icon:hover {
  fill: #000;
}

/*# sourceMappingURL=style.css.map */
