.order-section {
    background: url("../../img/bg/bg_form.png") center center, rgba(#000, .8);
    background-size: cover;
    color: #fff;
    text-shadow: rem(1px) rem(1px) rem(1px) black;
    height: 100vh;
    min-height: rem(650px);

    @include tablets {
        height: rem(966px);
    }
}