.reviews {
    &__display {
        background: #f8fAf9;
        padding: rem(42px) rem(42px);
        margin-bottom: rem(15px);
        width: rem(940px);
        height: rem(348px);
        overflow: hidden;
        position: relative;
        
        @include tablets {
            width: rem(724px);
            padding: rem(56px) rem(24px) rem(46px);
        }
    }

    &__list {
        position: relative;
        min-height: rem(348px);
    }

    &__display-inner {
        display: flex;
        width: 100%;
        height: rem(348px);

        @include tablets {
            flex-direction: column;
            text-align: center;
            align-items: center;
        }
    }

    &__item {
        width: rem(940px);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: .3s;
        opacity: 0;

        &--active{
            position: static;
            opacity: 1;
        }
    }

    &__avatar {
        width: rem(253px);
        height: rem(264px);
        margin-right: rem(40px);
    
        @include tablets {
            width: rem(130px);
            height: rem(130px);
            margin-right: 0;
            margin-bottom: rem(32px);
        }
    }

    &__avatar-img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    &__content {
        flex: 1;
        height: rem(264px);
    }

    &__title {
        font-size: rem(27px);
        font-weight: 700;
        color: #292929;
        margin-bottom: rem(14px);
    }

    &__text {
        font-weight: 400;
        margin-bottom: rem(25px);
        width: rem(463px);
    }

    &__author {
        font-weight: 500;
        color: #292929;
    }

    &__switcher {
        display: flex;
        justify-content: center;
    }
}

